<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691794529955-ubict614r1lt46m3e348lt7vvsdqnf4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691794529955-ubict614r1lt46m3e348lt7vvsdqnf4d</string>
	<key>API_KEY</key>
	<string>AIzaSyAFVHWBk-74YuLmzGdg2ZUlxhe9q5vpABE</string>
	<key>GCM_SENDER_ID</key>
	<string>691794529955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nassif.cj.rockethelpnassif</string>
	<key>PROJECT_ID</key>
	<string>rockethelpnassif</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelpnassif.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691794529955:ios:2df951463b6998c0877916</string>
</dict>
</plist>